* {
  font-family: "Poppins", "Open Sans";
  margin: 0px;
  padding: 0px;
}

.hlogo {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  height: 400px;
  align-self: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logoimg {
  align-self: flex-start;
  height: 7vh;
  margin-right: 1rem;
}

.logocontainer {
  align-self: center;
  font-size: 7vh;
  font-family: "Bebas Neue";
  font-weight: 900;
  color: #235b58;
  margin: 10px;
}

.text-welcome {
  font-size: 1.5vh;
  padding-left: 10px;
}

.text-login {
  padding-left: 10px;
  font-size: 5vh;
  font-weight: 600;
}

div {
  display: inline-block;
}

body {
  background-image: linear-gradient(to bottom right, #292f36, #1f6f6a);
}

body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginbox {
  background-color: white;
  width: 640px;
  height: 395px;
  padding: 25px;
  /* box-shadow: 0px 0px 100px 40px #bbd6bb; */
  border: none;
  border-radius: 60px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #292f36;
  display: flex;
}

.inputarea {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid #e7f6e7;
  background-image: linear-gradient(to bottom left, #edf5ed, white);
  border-radius: 40px;
  border-top-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-image {
  width: 50%;
}

h1 {
  font-size: 5.5rem;
}

form {
  align-self: flex-start;
  width: 100%;
  margin: 0;
}

.userdatabox {
  margin: 25px;
  width: 100% - margin;
  display: flex;
  height: 105px;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 15px;
}

.indi-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 4px #edf5ed;
  color: #3f48537a;
}

.logo {
  width: 36px;
  display: flex;
  font-size: 1.9vh;
  justify-content: center;
}

input[type="email"],
input[type="password"] {
  height: 30px;
  flex-grow: 1;
  box-sizing: border-box;
  border: none;
  font-size: 1.9vh;
  background-color: transparent;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 1.9vh;
  font-weight: 400;
  padding: 0;
}
.b a {
  margin-left: 5px;
  text-decoration: none;
  color: #3f48537a;
  font-size: 1.7vh;
  font-weight: 500;
}
form {
  display: flex;
  flex-direction: column;
}
input[type="submit"] {
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  color: white;
  font-size: 1.7vh;
  font-weight: 600;
  background-color: #4ecdc4;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
  box-shadow: 0px 0px 20px 10px #f6faf6;
}

input[type="submit"]:hover {
  box-shadow: 0px 0px 10px 5px #4ecdc524;
}

.other-options {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h3 {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 20px;
}
button + h3 {
  width: 100%;
  margin-top: 20px;
}
.altbutton {
  width: 28%;
  height: 40px;
  border: 0;
  border-radius: 20px;
}
img {
  height: 20px;
}

h3 {
  margin: 10px;
  text-align: center;
  font-size: 1.5vh;
  font-weight: 400;
}

h3 a {
  text-decoration: none;
  color: #ff4747;
  font-weight: 500;
}

h3 a:hover {
  text-shadow: 0px 0px 10px #ff4747ba;
}

#group1 {
  position: fixed;
  top: 100px;
  left: 600px;
  width: 300px;
  height: 300px;
  z-index: -1;
}
